@import url('https://fonts.googleapis.com/css?family=Roboto|Squada+One&display=swap');

body{
    background-color: rgb(107, 129, 255);
    text-align: center;
    color: rgb(255, 211, 115);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}
div {
    position: relative;
    margin-top: 30px;
}
h1 {
    margin-top: -5px;
    font-size: 45pt;
    color: rgb(255, 84, 72);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
}
p {
    font-family: 'Squada One', cursive;
    font-size: 25pt;
}